
.btn-nav{
    outline: none !important;
    border:  none !important;
}
.nav-item a:hover{
    background-color: #fcd34d;
}
.fa-brands{
    font-size: 20px;
}
.link{
    color: royalblue;
}
.d-flex a{
    text-decoration: none !important;
    color: #334155;
}
.btn-center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.container-aspect{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}
.aspect{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
